<!DOCTYPE HTML>
<html>
<head>
<title>The Erudite Website Template | Staff :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href="./css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="wrap">
<div class="wrapper">
<div class="logo">
	<a href="index.html"><h1>erudite</h1></a>
</div>
<div class="header_right">
	<div class="cssmenu">
		<ul>
		  	<li><a href="index.html"><span>Home</span></a></li>
			<li><a href="about.html"><span>About</span></a></li>
			<li class="active"><a href="staff.html"><span>Staff</span></a></li>
			<li class="has-sub"><a href="service.html"><span>Services</span></a></li>
			<li class="last"><a href="contact.html"><span>Contact</span></a></li>
			<div class="clear"></div>
		 </ul>
	</div>
</div>
	<div class="clear"></div>
</div>
</div>
<div class="main_bg">
<div class="wrap">
<div class="wrapper">
<div class="main">
<div class="our-staff">
		<div class="dc-grids">
				<div class="dc-head">
					<div class="dc-head-img">
						<a href="details.html"><img src="./images/dc1.jpg" title="dc-name"></a>
					</div>
					<div class="dc-head-info">
						<h2 class="style">Perspiciatis</h2>
						<span>totam rem aperiam</span>
					</div>
					<div class="clear"> </div>
					<div class="dc-profile">
						<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
						<div class="button1">
							<a href="details.html" class="btn btn_s">view More</a>
						</div>
					</div>
				</div>
				<div class="dc-head">
					<div class="dc-head-img">
						<a href="details.html"><img src="./images/dc2.jpg" title="dc-name"></a>
					</div>
					<div class="dc-head-info">
						<h2 class="style">Voluptate</h2>
						<span>totam rem aperiam</span>
					</div>
					<div class="clear"> </div>
					<div class="dc-profile">
						<p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content, </p>
						<div class="button1">
							<a href="details.html" class="btn btn_s">view More</a>
						</div>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="dc-grids">
				<div class="dc-head">
					<div class="dc-head-img">
						<a href="details.html"><img src="./images/dc3.jpg" title="dc-name"></a>
					</div>
					<div class="dc-head-info">
						<h2 class="style">Perspiciatis</h2>
						<span>totam rem aperiam</span>
					</div>
					<div class="clear"> </div>
					<div class="dc-profile">
						<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
						<div class="button1">
							<a href="details.html" class="btn btn_s">view More</a>
						</div>
					</div>
				</div>
				<div class="dc-head">
					<div class="dc-head-img">
						<a href="details.html"><img src="./images/dc4.jpg" title="dc-name"></a>
					</div>
					<div class="dc-head-info">
						<h2 class="style">Voluptate</h2>
						<span>totam rem aperiam</span>
					</div>
					<div class="clear"> </div>
					<div class="dc-profile">
						<p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content, </p>
						<div class="button1">
							<a href="details.html" class="btn btn_s">view More</a>
						</div>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
</div>
</div>
</div>
</div>
<div class="wrap">
<div class="wrapper">
	<div class="footer">
		<div class="social-icons">
	   		  	<ul>
			      <li class="icon_1"><a href="#" target="_blank"> </a></li>
			      <li class="icon_2"><a href="#" target="_blank"> </a></li>
			      <li class="icon_3"><a href="#" target="_blank"> </a></li>
			      <li class="icon_4"><a href="#" target="_blank"> </a></li>
			      <div class="clear"></div>
		     </ul>
	   	 </div>
		<a href="index.html"><h2>erudite</h2></a>
		<div class="copy">
			<p class="w3-link">© All Rights Reserved | Design by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a></p>
		</div>
	</div>
</div>
<div class="clear"></div>
</div>
</body>
</html>